<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galindo&display=swap" rel="stylesheet">
    <title>Ajouter/modifier une tâche</title>
</head>
<body>
    <div class="container">
        <h1>Mon Board</h1>
        <div class="case">
            <h2>Ajouter/modifier une tâche</h2>
            <form action="">
                <input type="text" name="title-task" id="title-task" placeholder="Intitulé de la tâche ...">
                <textarea name="description" id="description" cols="30" rows="10" placeholder="Description de la tâche"></textarea>
                <button type="submit" id="validate-form">Valider</button>
            </form>
        </div>
        <a href="../index.html">Accueil</a>
    </div>
</body>
</html>