header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header h1{
    color: white;
    font-size: 50px;
}

.button-add{
    position: absolute;
    right: 50px;
    top: 50px;
    height: 120px;
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    background: #a780de;
    height: 36px;
    word-spacing: 0px;
    text-transform: uppercase;
    min-width: 64px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-add:hover{
        background: rgb(65, 59, 243);
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.button-add a{
    text-decoration: none;
}

.case{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background: rgba(221, 227, 255, 0.66);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(176, 145, 255, 0.29);
    padding: 30px;
}

.case form{
    display: flex;
    flex-direction: column;
}

#title-task, textarea{
    border: none;
    background: rgba(240, 243, 255, 0.66);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(176, 145, 255, 0.19);
    outline: none;
    padding: 15px;
    margin: 15px 0px;
    font-size: 20px;
}

textarea{
    max-height: 220px;
}

#validate-form {
    margin: 10px auto;
    font-size: 20px;
    width: 150px;
}

#validate-form a{
    text-decoration: none;
}

.pushable {
    background: hsl(280, 36%, 33%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    background: hsl(280, 44%, 55%);
    color: white;
    transform: translateY(-6px);

}

.front:hover{
    background: hsl(235, 85%, 69%);
}

.pushable:active .front {
    transform: translateY(-2px);
}