
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Polices et couleurs de base */
body {
font-family: 'Galindo', sans-serif;color: #333;
background-color: #f4f4f4;
line-height: 1.5;
background: url(./images/cf12430b97af777d1f6ac4e82f1bd5da.jpg) no-repeat;
background-size: 100%;
}

/* Conteneur principal */
.container {
width: 80%;
height: 650px;
margin: 60px auto;
overflow: hidden;
background: rgba(178, 188, 232, 0.66);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(10.9px);
border: 1px solid rgba(176, 145, 255, 0.29);
padding: 30px;
}

.boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.board{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: rgba(221, 227, 255, 0.66);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(176, 145, 255, 0.29);
    padding: 30px;
}

.board h2{
    text-align: center;
}

.task{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: rgba(238, 241, 255, 0.66);
    border-radius: 16px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(10.9px);
    border: 1px solid rgba(176, 145, 255, 0.29);
    padding: 10px 20px;
}

.task a{
    text-decoration: none;
}

.task p{
    cursor: pointer;
}

.task:hover{
    background: rgb(122, 118, 227);
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.icons{
    display: flex;
    flex-direction: column;
}

/* Pied de page */
footer {
background: rgba(207, 187, 221, 1);
font-size: 12px;
color: #fff;
text-align: center;
padding: 5px;
position: fixed;
bottom: 0;
width: 100%;
height: 30px;
}

/* Styles pour les titres */
h1, h2, h3, h4, h5, h6 {
margin-bottom: 20px;
}

a:visited{
    color: inherit;
}